.modal {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 300px;
  min-height: 200px;
  z-index: 9999;
  background-color: black;
  border: 1px solid aliceblue;
  border-radius: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  min-height: 150px;
}

.inputDiv {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: none;
  border: 1px solid aliceblue;
  border-radius: 20px;
  height: 20px;
  text-align: center;
}

.fineButton {
  color: aliceblue;
  background-color: red;
  border-radius: 20px;
  padding: 10px;
  border: none;
  width: 100px;
  height: 50px;
}

.cancelButton {
  color: aliceblue;
  background-color: blue;
  border-radius: 20px;
  padding: 10px;
  border: none;
  width: 100px;
  height: 50px;
}
