.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px antiquewhite solid;
  padding: 10px;
  border-radius: 20px;
}

.listText {
  font-size: large;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fineButton {
  border: none;
  background: red;
  color: aliceblue;
  font-size: medium;
  border-radius: 20px;
}

.changeInfoButton {
  border: none;
  background-color: blue;
  color: aliceblue;
  font-size: medium;
  border-radius: 20px;
}
